@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@keyframes to-scale {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}

@keyframes to-width{
    0%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
} 

body{
    background-color: rgb(242, 233, 226);
}

.font{
    font-family: "Montserrat", sans-serif !important; 
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 11px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.seccionToDo, .seccionTasks{
    max-width: 90%;
    width: 600px;
    height: fit-content;
    background-color: rgba(255,255,255,.7);
    color: black;
    padding: 20px;
    border-radius: 5px;
    animation: to-scale 2s ease;
}

.seccionToDo{
    text-align: center;
}

li{
    margin: 5px;
    user-select: none; /*Para que no lo pueda seleccionar*/
    position: relative;
    padding: 0 10px;
    background-image: url(../imgs/icono-unchecked.png);
    background-position: 0 0;
    background-size: 1.25em;
    background-repeat: no-repeat;
    padding-left: 2em;

    animation: to-width 2s ease;

    /*Task checked*/
    &.checked{
        text-decoration: line-through;
        /*Cambiar la viñeta cuando está checked*/
        background-image: url(../imgs/icono-checked.png);
    }

}



button, input{
    font:inherit;
    padding: 7px;
    display: block;
    margin: auto;
    margin-top: 1em;
    width: 80%;
    border: 0px;
    border-radius: 5px;
}

input{
    background-color: rgb(242, 233, 226);
}

button{
    background-color: #7E463E;
    cursor: pointer;
    color: white;
}

.iconos{
    max-width: 1.5em;
    position: absolute;
    right: 0;
    cursor: pointer;
}


@media (max-width:834px){
    .container{
        display: flex;
        flex-direction: column ;
        min-height: fit-content;
    }
    .seccionTasks, .seccionToDo{
        margin: 1em auto;
    }

    .font{
        font-size: 10px;
    }
}