@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    margin: 40px;
    width: 50%;
    margin: auto;
}

:root{
    --font-color: #0a2ff1;
    --background-font: #3ffff3;
    --background-img: #8a9af1;
}

h1{
    font-size: 59pt;
    color: var(--font-color);
}

.titulo-resaltar{
    background-color: var(--background-font);
}

p{
    color: var(--font-color);
    font-size: 23pt;
}

img{
    display: block;
    width: 25%;
    background-color: var(--background-img);
    background-image: url(../assets/fondo.JPG);
    background-size: contain;
}

@media (max-width:834px){
    body{
        width: 75%;
    }

    h1{
        font-size: calc(59pt/2);
    }

    p{
        font-size: calc(23pt/2);
    }

}